.tag-cloud
  &-list
    a
      display: inline-block
      padding: 0 .4rem
      transition: all .3s

      &:hover
        color: $text-hover !important
        transform: scale(1.1)

      +maxWidth768()
        zoom: .85

  &-title
    font-size: 2.57em
    font-family: 'FZSJ-MIAOWANG'

    +maxWidth768()
      font-size: 2em
      font-family: 'FZSJ-MIAOWANG'

.link {
  display: inline-block;
  margin: .4rem 0.2rem 0;
  padding: 0.05rem 0.15rem 0.1rem 0.4rem;
  border-radius: .3rem;
  font-size: 1.1em;
  transition: all .3s;
  width: 8em;
  height: 35px;
  text-align: center;
}

.count {
    color: gray;
    padding-top:5px;
    padding-bottom:5px;
    padding-right:5px;
    padding-left:5px;
    font-size: .85em;
    background-color: rgba(255,255,255,0.45);
    border-radius: .2rem;
    margin: .4rem 0.1rem .4rem .4rem;
}

.rainbow 
  text-align: center;
  
  a:nth-child(6n+1) 
    background-color: rgba(255,204,255,0.6);
    color: rgb(255 149 255);

  a:nth-child(6n+2) 
    background-color: rgba(221,204,255,0.6);
    color: rgb(183 153 243);
  
  a:nth-child(6n+3) 
    background-color: rgba(187,204,255,0.6);
    color: rgb(135 166 255);

  a:nth-child(6n+4) 
    background-color: rgba(170,204,255,0.6);
    color: rgb(111 169 255);

  a:nth-child(6n+5) 
    background-color: rgba(136,204,255,0.6);
    color: rgb(92 185 255);
  
  a:nth-child(6n+6) 
    background-color: rgba(102,204,255,0.6);
    color: rgb(0 151 226);
  
  +maxWidth768()
    a:nth-child(38n+1) 
      background-color: rgba(255,204,255,0.6);
      color: rgb(255 149 255);
    

    a:nth-child(38n+2) 
      background-color: rgba(255,204,255,0.6);
      color: rgb(255 149 255);
    

    a:nth-child(38n+3) 
      background-color: rgba(238,204,255,0.6);
      color: rgb(219 152 253);
    

    a:nth-child(38n+4) 
      background-color: rgba(238,204,255,0.6);
      color: rgb(219 152 253);
    

    a:nth-child(38n+5) 
      background-color: rgba(221,204,255,0.6);
      color: rgb(183 153 243);
    

    a:nth-child(38n+6) 
      background-color: rgba(221,204,255,0.6);
      color: rgb(183 153 243);
    

    a:nth-child(38n+7) 
      background-color: rgba(221,204,255,0.6);
      color: rgb(183 153 243);
    

    a:nth-child(38n+8) 
      background-color: rgba(221,204,255,0.6);
      color: rgb(183 153 243);
    

    a:nth-child(38n+9) 
      background-color: rgba(204,204,255,0.6);
      color: rgb(155 155 245);
    

    a:nth-child(38n+10) 
      background-color: rgba(204,204,255,0.6);
      color: rgb(155 155 245);
          
    a:nth-child(38n+11) 
      background-color: rgba(187,204,255,0.6);
      color: rgb(135 166 255);
         
    a:nth-child(38n+12) 
      background-color: rgba(187,204,255,0.6);
      color: rgb(135 166 255);
          
    a:nth-child(38n+13) 
      background-color: rgba(170,204,255,0.6);
      color: rgb(111 169 255);
          
    a:nth-child(38n+14) 
      background-color: rgba(170,204,255,0.6);
      color: rgb(111 169 255);
     
    a:nth-child(38n+15) 
      background-color: rgba(136,204,255,0.6);
      color: rgb(92 185 255);
     
    a:nth-child(38n+16) 
      background-color: rgba(136,204,255,0.6);
      color: rgb(92 185 255);
     
    a:nth-child(38n+17) 
      background-color: rgba(119,204,255,0.6);
      color: rgb(47 177 255);
     
    a:nth-child(38n+18) 
      background-color: rgba(119,204,255,0.6);
      color: rgb(47 177 255);
    
    a:nth-child(38n+19) 
      background-color: rgba(102,204,255,0.6);
      color: rgb(0 151 226);
    
    a:nth-child(38n+20) 
      background-color: rgba(102,204,255,0.6);
      color: rgb(0 151 226);
    
    a:nth-child(38n+21) 
      background-color: rgba(119,204,255,0.6);
      color: rgb(47 177 255);
    
    a:nth-child(38n+22) 
      background-color: rgba(119,204,255,0.6);
      color: rgb(47 177 255);
    

    a:nth-child(38n+23) 
      background-color: rgba(136,204,255,0.6);
      color: rgb(92 185 255);
    

    a:nth-child(38n+24) 
      background-color: rgba(136,204,255,0.6);
      color: rgb(92 185 255);
    

    a:nth-child(38n+25) 
      background-color: rgba(153,204,255,0.6);
      color: rgb(98 176 253);
    

    a:nth-child(38n+26) 
      background-color: rgba(153,204,255,0.6);
      color: rgb(98 176 253);
    

    a:nth-child(38n+27) 
      background-color: rgba(170,204,255,0.6);
      color: rgb(111 169 255);
    

    a:nth-child(38n+28) 
      background-color: rgba(170,204,255,0.6);
      color: rgb(111 169 255);
    

    a:nth-child(38n+29) 
      background-color: rgba(187,204,255,0.6);
      color: rgb(135 166 255);
    

    a:nth-child(38n+30) 
      background-color: rgba(187,204,255,0.6);
      color: rgb(135 166 255);
          
    a:nth-child(38n+31) 
      background-color: rgba(204,204,255,0.6);
      color: rgb(155 155 245);
         
    a:nth-child(38n+32) 
      background-color: rgba(204,204,255,0.6);
      color: rgb(155 155 245);
          
    a:nth-child(38n+33) 
      background-color: rgba(221,204,255,0.6);
      color: rgb(183 153 243);
          
    a:nth-child(38n+34) 
      background-color: rgba(221,204,255,0.6);
      color: rgb(183 153 243);
     
    a:nth-child(38n+35) 
      background-color: rgba(238,204,255,0.6);
      color: rgb(219 152 253);
     
    a:nth-child(38n+36) 
      background-color: rgba(238,204,255,0.6);
      color: rgb(219 152 253);
     
    a:nth-child(38n+37) 
      background-color: rgba(255,204,255,0.6);
      color: rgb(255 149 255);
     
    a:nth-child(38n+38) 
      background-color: rgba(255,204,255,0.6);
      color: rgb(255 149 255);