#left {
 margin: 10px 0 15px 0;
 float: left;
 text-align: right;
 z-index:-10;
 width:48%;
 font-size: 0.7em;
 line-height: 1.5; 
}
#right {
 margin: 10px 0 15px 0;
 float: right;
 text-align: left;
 z-index:-10;
 width:48%;
 font-size: 0.7em;
 line-height: 1.5; 
}

#bg {
    background-size: cover;
    background-position: center;
    opacity: 0.3;
}
#text {
    background-image: url(https://cdn.jsdelivr.net/gh/onizakimei/cdn/ppt/文本PC.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    padding: 3em 2em 2em 2em;
}

.reveal em, .reveal p, .reveal small {
    white-space: pre-wrap;
    overflow-wrap: break-word;
    color: #2b2b2b;
}

.reveal h2 {
    font-family: 记忆碎片;
    color: #82b1ea;
}

.reveal h3, .reveal h4, .reveal h5, .reveal h6 {
    font-family: 小饼干;
    color: rgb(232,150,94);
}
.reveal a {
   color: #55abfb; 
}
.reveal, .reveal h1 {
    font-family: 轻吟体M;
    overflow-wrap: break-word;

}

.reveal blockquote {
    margin: 0 auto;
    padding: 5px;
    box-shadow:none;
    width: 100%;
    font-style: normal;
    font-family: '丁谦硬笔楷书'
}  

.reveal ul {
    margin-left: 0px;
    font-size: 1rem;
    list-style-type: none;
    color: #ffffff;
    text-shadow: 1px 1px 7px #007bef, 1px 1px 7px #007bef, 1px 1px 7px #007bef;
}

.reveal ul li {
  padding-left: 2.8em;
  background-image: url(https://cdn.jsdelivr.net/gh/onizakimei/cdn/ppt/无序.png);
  background-repeat: no-repeat;
  background-size: 3em;
  background-position: left center;
}

.reveal ul li:after {
    content: "";
    display: block;
    height: 20px;
    background-size: contain;
    margin-bottom: 0.5rem;
    background-image: url(https://cdn.jsdelivr.net/gh/onizakimei/cdn/ppt/分割线.png);
    background-position: center bottom;
}

@media screen and (max-width:768px) {
    .reveal h2 {
    font-size: 3em;
}
    .reveal ul {
    font-size: 2.4rem;
    font-weight: bold;
    }

    .reveal ul li {
      margin-bottom: 2.2rem;
    }

    .reveal p {
        margin: 30px 0;
        font-size: 55px;
        margin-bottom: 0rem;
        color: #333232
    }
    #text {
    background-image: url(https://cdn.jsdelivr.net/gh/onizakimei/cdn/ppt/sakura2.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    position: fixed;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    padding: 5em 1em 0em 3em;
    width: 88%;
    }
    #more {
        margin-top: -10em;
    }
}



#bq {
  width: 70px !important;
  vertical-align: bottom;
  margin-bottom: 10px;
}

.reveal .progress {
    background: rgb(121 118 118 / 43%);
    color: #1f8df5a6;
    height: 5px;
    background-image: linear-gradient(45deg, rgba(255, 255, 255, .15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, .15) 50%, rgba(255, 255, 255, .15) 75%, transparent 75%, transparent);
    background-size: 1rem 1rem;
}

.reveal .controls .controls-arrow {
    color: #1b91ff;
}

@font-face {
    font-family:'FZYouMaoZaiK';
    src:url('https://cdn.jsdelivr.net/gh/onizakimei/cdn/theme/FZYouMaoZaiK.TTF');
    font-display:swap
}
@font-face {
    font-family:'FZSJ-LAOXLDM';
    src:url('https://cdn.jsdelivr.net/gh/onizakimei/cdn/theme/FZSJ-LAOXLDM.TTF');
    font-display:swap
}
@font-face {
    font-family:'FZSJ-MIAOWANG';
    src:url('https://cdn.jsdelivr.net/gh/onizakimei/cdn/theme/FZSJ-MIAOWANGT.TTF');
    font-display:swap
}
@font-face {
    font-family:'siyuanheiti';
    src:url('https://cdn.jsdelivr.net/gh/onizakimei/cdn/theme/SourceHanSansCN-Regular-2.otf');
    font-display:swap
}
@font-face {
    font-family:'华文行楷';
    src:url('https://cdn.jsdelivr.net/gh/onizakimei/cdn/theme/HuaWenXingKai-1.ttf');
    font-display:swap
}
@font-face {
    font-family:'FZLTHJ';
    src:url('https://cdn.jsdelivr.net/gh/onizakimei/cdn/theme/FZLTHJ.OTF');
    font-display:swap
}
@font-face {
    font-family:'轻吟体M';
    src:url('https://cdn.jsdelivr.net/gh/onizakimei/cdn/theme/FZFWQingYinTiJM.OTF');
    font-display:swap
}
@font-face {
    font-family:'轻吟体D';
    src:url('https://cdn.jsdelivr.net/gh/onizakimei/cdn/theme/FZFWQingYinTiJD.OTF');
    font-display:swap
}
@font-face {
    font-family:'小饼干';
    src:url('https://cdn.jsdelivr.net/gh/onizakimei/cdn/theme/FZSJ-SHENQXBGT.TTF');
    font-display:swap
}
@font-face {
    font-family:'记忆碎片';
    src:url('https://cdn.jsdelivr.net/gh/onizakimei/cdn/theme/FZJiYDSPTJW.TTF');
    font-display:swap
}

@font-face {
    font-family:'丁谦硬笔楷书';
    src:url('https://cdn.jsdelivr.net/gh/onizakimei/cdn/theme/FZSJ-DQYBKSJW.TTF');
    font-display:swap
}

@font-face {
    font-family:'顾建平楷书';
    src:url('https://cdn.jsdelivr.net/gh/onizakimei/cdn/theme/FZSJ-DQYBKSJW.TTF');
    font-display:swap
}