#authors {
  text-align: center;
  font-size: large;
}

.authors-number {
  color: skyblue;
  color: #f00;
}
.authors-number:before {
	content: "墙头"
	color: #4294e8
}
.authors-number:after {
	content:"人"
	color: #4294e8
}

.author-items {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding-left: 0;
}

.author-item {
  display: inline-flex;
  text-align: center;
  justify-content: center;
  width: 15rem;
  margin: 1rem;

  .author {
    &-info {
      width: 100%;
      padding: 0;
      margin: 0;
    }

    &-avatar {
      object-fit: cover;
      object-position: center top;
      width: 4rem;
      height: 4rem;
      border-radius: 50%;
      padding: 0.2rem;
      background-color: #fff;
      box-shadow: 0 0 1rem rgba(0, 0, 0, 0.12);
      transition: 0.5s;

      &:hover {
        box-shadow: 0 0 2rem rgba(0, 0, 0, 0.12);
      }
    }

    &-name {
      font-size: 0.9rem;
      color: #4294e8
    }

    &-from {
      font-size: 0.7rem;
      color: #777777

      &::before {
        content: '';
      }

      &::after {
        content: '';
      }
    }
  }
}
