if theme.scrollreveal.enable
  script(src=theme.CDN.scrollreveal, defer)
  script.
    document.addEventListener("DOMContentLoaded", () => {
      !{JSON.stringify(theme.scrollreveal.targets)}.forEach((target)=> {
        ScrollReveal().reveal(target);
      })
    })